.container {
  height: 100vh;
}

.users {
  margin-top: 30px;
  display: flex;
}

.users>* {
  margin-right: 50px;
}

.users-list {
  width: 300px;
}

.users-list>li {
  cursor: pointer;
}

.card {
  width: 300px;
}